target/
**/bin/
**/obj/
.data/
.build-validation/
.packages/
.cargo-home/
/portable-release/
/portable-release-*/
wails-prototype/
*.user
*.log

/frontend/node_modules/
/frontend/dist/
/frontend/wailsjs/
/build/
